# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=<your_cluster_bootstrap_server>
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=<your_key>
sasl.password=<your_secret>

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

client.id=<your_python_client_id_from_confluent>
